.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 1.5rem !important;
}

.desc-limit {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
